<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WheelsPrime</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/ionicons.min.css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WheelsPrime", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Veículo
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Marcas", "Index", "Brands")</li>
                            <li>@Html.ActionLink("Modelos", "Index", "Model")</li>
                            <li>@Html.ActionLink("Extras", "Index", "VehicleExtras")</li>
                            <li>@Html.ActionLink("Combustíveis", "Index", "FuelTypes")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Sobre", "About", "Home")</li>
                    <li>@Html.ActionLink("Contactos", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

        <!-- Start Footer -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="footer-inner">
                            <h3><a href="index.html"><img class="img-reponsive imgsize" src="~/Content/imgs/wheelsgray.png" alt=""></a> </h3>
                            <p>
                                Ipsum
                            </p>
                            <div class="divided-30"></div>
                            <ul class="social list-inline">
                                <li><a href="http://fb.com" class="fb"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#" class="twitter"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#" class="in"><i class="ion-social-linkedin"></i></a></li>
                                <li><a href="#" class="dribbble"><i class="ion-social-dribbble"></i></a></li>
                            </ul>
                        </div><!--fotter inner-->
                    </div>

                    <div class="col-sm-4 margin-bottom-30">
                        <div class="footer-inner">
                            <h3>Contact us</h3>

                            <ul class="list-unstyled contact-list">
                                <li><i class="ion-home"></i> 128, Mahadev nagar , 302021</li>
                                <li><i class="ion-ios-telephone"></i> 1800 2345 23456</li>
                                <li><i class="ion-email"></i> Support@codepiple.com</li>

                            </ul>
                        </div><!--fotter inner-->
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-inner">
                            <h3>Links</h3>
                            <ul class="list-unstyled contact-list">
                                <li class="ion-home"> @Html.ActionLink("Home", "Index", "Home")</li>
                                <li class="ion-android-car">  @Html.ActionLink("Vehicles", "Index", "Home")</li>
                                <li class="ion-ios-contact-outline">  @Html.ActionLink("Client Area", "Index", "Home")</li>
                                <li class="ion-wrench">  @Html.ActionLink("Services", "Index", "Home")</li>
                                <li class="ion-information-circled">  @Html.ActionLink("About", "Index", "Home")</li>
                            </ul>
                        </div>
                    </div><!--fotter inner-->
                </div>
            </div>
            <hr>
            <span class="clearfix copyright">&copy; @DateTime.Now.Year. All rights reserved. WheelsPrime</span>
    </footer>
    <!-- End Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
